body, h1, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;

    color: #0b4e95;
  }
  a{
    text-decoration: none;
  }
  form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #495057;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  /* Style form buttons */
  button {
    background-color: #0b4e95;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form:not(:last-child) {
    margin-bottom: 40px;
  }
  .card {
    margin-bottom: 20px;
  }
  
  .card-body {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #0b4e95;
  }
  
  .card-text {
    color: #6c757d;
  }
  
  .btn-primary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #0b4e95;
    border: 1px solid #0b4e95;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    line-height: 1.5;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #356eab;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }